*{
    margin: 0;
}

.riquadro{
    background-color: gray;
    height: fit-content;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    box-sizing: border-box;
}



.contenitore_top span{
    color: #fff;
}



.contenitore_top{
    background-color: black;
    display: flex;
    justify-content: flex-end;
    height: 50px;
}