*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.riquadro{
    background-color: gray;
    height: fit-content;
    padding: 5px;   
    border-radius: 10px 10px 10px 10px;
    box-sizing: border-box;

}



.contenitore_top span{
    color: #fff;
}



.contenitore_top{
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    height: 61px;
    position: fixed;
    z-index: 500;   
    width: 100%;
    
}



/*inizio modifiche schermi*/

#contenitorelink {
    text-decoration: none;
    color: #fff;
    cursor: pointer; 
    display: flex;
    flex-direction: column;   
}

.contenitorefondo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    background-color: #000;
 


}

.fa-regular, .fa-solid{
    padding-right: 5px;
}

.loghini{
    display: flex;
    align-items: center;
    width: 57px;
    height: 30px;
}

/*fine header*/

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: calc((100% / 3) - 10px);
    margin: 0 5px;
    position: relative;
    min-height: 100px;
}

.img_prod img{
    width: 100%;
    
}


.ultimo{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50px;
    margin-top: 1px;
    background: rgb(31, 29, 29);
}


.label{
    display: inline-block;
    position: absolute;
    bottom: 15%;
    left: 1;
    width: 103px;
    height: 25px;
    color: white;
    background-color: lightslategray;
    text-align: center;
    line-height: 25px;
}


.pulsantiinfondo{
    display: flex;
    align-items: center;


}



.pulsantiinfondo div{
    display: flex;
}



.fa-lg{
    line-height: 0px;
}









